extends layout

block content
    .row.spacertop
        .col-md-12
            h2 About QuoteCloud
    .row.spacertop-half
        .offset-md-1.col-md-10
            p
                | QuoteCloud is created as a #100DaysofCode challenge on Twitter. It's also an opportunity for me to learn 
                | Azure Functions and practice my NoSQL knowledge on MongoDB Atlas. 

            p
                | QuoteCloud is designed from the ground up to have a decoupled architecture through the usage of serverless techniques. 
                | By decoupling the interface and the backend logic, QuoteCloud can easily be consumed by external APIs via REST or GraphQL 
                | and display content that is customized to the user's preferences.

            p
                | As a personal project, QuoteCloud is also a way for me to materialize my idea of putting inspirational and motivational quotes 
                | which could benefit someone who might be reading. I have always wanted to do a quote website and here it is.

            p
                | Follow me on Twitter at #[a(href='https://twitter.com/AlvinLoh19') AlvinLoh19] to follow my updates.
