extends layout

block content
    .row.spacertop
        .col-md-12
            h2 QuoteCloud API (Updated 3rd Apr 2019)
    
    .row.spacertop-half
        .offset-md-1.col-md-10
            h4 Get Random Quote
            p
                | To get a random quote from QuoteCloud, you can call the 
    
                
    .row.spacertop-half
        .offset-md-1.col-md-10
            h4 Get Latest Quote
            p
                | Writeup for get latest quote
    

    .row.spacertop-half
        .offset-md-1.col-md-10
            h4 Add Quote
            p
                | Writeup for add quote
    