doctype html
html(lang='en')
  head
    link(href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Open+Sans" rel="stylesheet")
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    script(src='http://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/ajax-loading.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/qcshared.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    title QuoteCloud - Inspire yourself
  body
    .container
      .row
        .col-md-12
          img(src='/images/QuoteCloudLogoSmall.jpg')
      block content
